
@{
    ViewBag.Title = "權益類科目設定";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        /*#region container_ToolBar style*/
        .header-toolbar {
            overflow: auto;
            font-size: 0.9em;
            padding: 1px 15px 1px 3px;
            width: 100%;
            background-color: #cfcfcf;
            margin: 0;
            border: 1px solid gray;
        }

            .header-toolbar .easyui-linkbutton {
                width: 50px;
                height: 52px;
                font-size: 0.9em;
                font-weight: bold;
                margin: 0px;
                padding: 0px;
            }

            .header-toolbar .linkbtn2 {
                width: 45px;
            }

            .header-toolbar .linkbtn4 {
                width: 70px;
            }

            .header-toolbar .l-btn-text {
                font-size: 12px !important;
                margin-top: 28px !important;
            }

            .header-toolbar .l-btn-icon {
                width: 24px !important;
                height: 24px !important;
                left: 60% !important;
            }

        .separatorbar {
            margin-right: 50px;
        }
        /*#endregion*/

        /*#region container_body style*/
        #body-container {
            width: 100%;
            height: calc(100vh - 130px);
            background-color: #d0d0d0;
            margin: 0px;
            padding: 0px;
            font-size: 1.0em;
            overflow: hidden;
        }

        .body-layout {
            height: calc(100vh - 130px);
            width: 100%;
        }
        /*#endregion*/

        /*#region datagrid style*/
        .datagrid {
            border: 2px solid white; /* 默認顏色 */
        }

        .datagrid-header-row td {
            background-color: #d2d2d2;
            color: #333;
            font-weight: bold;
            border: 1px solid black !important;
        }

        .datagrid-header, .datagrid-td-rownumber {
            background-color: #fff !important;
            background: none;
            background-repeat: no-repeat;
        }

        .datagrid-cell-rownumber {
            color: black !important;
        }

        .datagrid-row .datagrid-cell {
            margin: 0px !important;
            padding: 0px !important;
        }

        .datagrid-row td {
            border: 1px solid black !important;
        }


        /*#endregion */
    </style>
}



@{ Html.RenderAction("_ToolBarPartial"); }

<div id="body-container">
    <div id="tabs" class="easyui-tabs">
        <div title="保留盈餘" style="padding:10px">
            <div class="easyui-layout body-layout">
                <div data-options="region:'west',collapsible:false" title="" style="width:50%;">
                    <table id="maindg" class="datagrid easyui-maindg" style="width:100%;height:99%;">
                    </table>
                </div>

                <div data-options="region:'east',collapsible:false" title="" style="width:50%;">
                    <table id="itemdg" class="datagrid easyui-itemdg" style="width:100%;height:99%;">
                    </table>
                </div>
            </div>
        </div>
        <div title="其他綜合損益" style="padding:10px">
            <div class="easyui-layout body-layout">
                <div data-options="region:'west',collapsible:false" title="" style="width:50%;">
                    <table id="maindg1" class="datagrid easyui-maindg" style="width:100%;height:99%;">
                    </table>
                </div>

                <div data-options="region:'east',collapsible:false" title="" style="width:50%;">
                    <table id="itemdg1" class="datagrid easyui-itemdg" style="width:100%;height:99%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        ///-----基本參數-----///
        //#region 基本參數
        var controllerurl = '/AccCode', functionurl = "/", actionurl = "";
        var maindg = $('#maindg'),itemdg = $('#itemdg'),
            maindg1 = $('#maindg1'),itemdg1 = $('#itemdg1');
        var focusdg = { datagrid: null, dgindex: null }, prefocusdg = null;
        var actioncode = 'view';
        //#endregion
        //#region 多語系
         var maindglang = {
           
        };
        //#endregion
        //#region 資料暫存
        var obj = { name: 'objname', data: null };
        //#endregion
        ///----初始化----------///
        //#region 初始化
        $(function () {
            maindgSet();
            itemdgSet();
            maindg1Set();
            itemdg1Set();
            $('#tabs').tabs({
                onSelect: function (title, index) {
                    if (index === 0) {
                        maindgdata();
                    } else if (index === 1) {
                        maindg1data();
                    }
                },
                onLoad: function () {
                    maindgdata();
                }
            });
        });

        //#endregion

        //#region dg設定與填值
        // 保留盈餘maindg，欄位與功能
        function maindgSet() {
            maindg.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true, type: 'string' },
                    { field: 'AccNo', title: '權益類科目編號', width: 70, editor: { type: 'text' } },
                    { field: 'AccNameC', title: '權益類科目名稱', width: 150, editor: { type: 'text' } },
                    { field: 'AccGroupNameE', title: '計算期間', width: 150, editor: { type: 'text' } },
                    { field: 'AccNo2', title: '年結結轉科目編號', width: 150, editor: { type: 'text' } },
                    { field: 'AccNameC2', title: '年結結轉科目名稱', width: 150, editor: { type: 'text' } }
                ]],
                onSelect: function (index, row) {
                    itemdgdata(row.Id);
                },
                onClickRow: function (rowIndex, rowData) {
                    focusDgSet(maindg);
                    focusdg = 'maindg';
                },
                // 啟用編輯列功能
                onEndEdit: function (rowIndex, rowData) {
                    var ed = $(this).datagrid('getEditor', {
                        index: index,
                        field: 'productid'
                    });
                    row.productname = $(ed.target).combobox('getText');
                }
            });
        }
        // 保留盈餘maindg，填值
        function maindgdata() {
            actionurl = defaultUrl + controllerurl + functionurl + 'GetEquityInfo?type=2';
            doajax("GET", actionurl, null, function (data) {
                if (data == "C0003") {
                    $.messager.alert('alert', '無權益類資料!');
                    maindg.datagrid('loadData', '');
                    console.log("C0003: Not Found");
                } else {
                    maindg.datagrid('loadData', data);
                }
            });
        }
        // 保留盈餘itemdg，欄位與功能
        function itemdgSet() {
            itemdg.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true },
                    { field: 'AccNoType', title: '會計科目類別', width: 200 }
                ]],
                onSelect: function (index, row) {

                },
                onClickRow: function (rowIndex, rowData) {
                    focusDgSet(itemdg);
                    focusdg = 'itemdg';
                },
                // 啟用編輯列功能
                onEndEdit: function (rowIndex, rowData) {
                    var ed = $(this).datagrid('getEditor', {
                        index: index,
                        field: 'productid'
                    });
                    row.productname = $(ed.target).combobox('getText');
                }
            });
        }
        // 保留盈餘itemdg，填值
        function itemdgdata(docid) {
            if (docid != null) {

                actionurl = defaultUrl + controllerurl + functionurl + 'GetEquityItem?docid=' + docid;
                doajax("GET", actionurl, null, function (data) {
                    console.log(data)
                    if (data == "C0003") {
                        $.messager.alert('alert', '無科目類別資料!');
                        itemdg.datagrid('loadData', '');
                        console.log("C0003: Not Found");
                    } else {
                        itemdg.datagrid('loadData', data);
                    }
                });
            }
        }

        // 其他綜合損益maindg1，欄位與功能
        function maindg1Set() {
            maindg1.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true, type: 'string' },
                    { field: 'AccNo', title: '權益類科目編號', width: 70, editor: { type: 'text' } },
                    { field: 'AccNameC', title: '權益類科目名稱', width: 150, editor: { type: 'text' } },
                    { field: 'AccGroupNameE', title: '計算期間', width: 150, editor: { type: 'text' } },
                    { field: 'AccNo2', title: '年結結轉科目編號', width: 150, editor: { type: 'text' } },
                    { field: 'AccNameC2', title: '年結結轉科目名稱', width: 150, editor: { type: 'text' } }
                ]],
                onSelect: function (index, row) {
                    itemdg1data(row.Id);
                },
                onClickRow: function (rowIndex, rowData) {
                    focusDgSet(maindg1);
                    focusdg = 'maindg1';
                },
                // 啟用編輯列功能
                onEndEdit: function (rowIndex, rowData) {
                    var ed = $(this).datagrid('getEditor', {
                        index: index,
                        field: 'productid'
                    });
                    row.productname = $(ed.target).combobox('getText');
                }
            });
        }
        // 其他綜合損益maindg1，填值
        function maindg1data() {
            actionurl = defaultUrl + controllerurl + functionurl + 'GetEquityInfo?type=1';
            doajax("GET", actionurl, null, function (data) {
                console.log(data)
                if (data == "C0003") {
                    $.messager.alert('alert', '無權益類資料!');
                    maindg1.datagrid('loadData', '');
                    console.log("C0003: Not Found");
                } else {
                    maindg1.datagrid('loadData', data);
                }
            });
        }
        // 其他綜合損益itemdg1，欄位與功能
        function itemdg1Set() {
            itemdg1.datagrid({
                singleSelect: true,
                columns: [[
                    { field: 'Id', title: 'Id', hidden: true },
                    { field: 'AccNoType', title: '會計科目類別', width: 200 }
                ]],
                onSelect: function (index, row) {

                },
                onClickRow: function (rowIndex, rowData) {
                    focusDgSet(itemdg1);
                    focusdg = 'itemdg1';
                },
                // 啟用編輯列功能
                onEndEdit: function (rowIndex, rowData) {
                    var ed = $(this).datagrid('getEditor', {
                        index: index,
                        field: 'productid'
                    });
                    row.productname = $(ed.target).combobox('getText');
                }
            });
        }
        // 其他綜合損益itemdg1，填值
        function itemdg1data(docid) {
            if (docid != null) {
                actionurl = defaultUrl + controllerurl + functionurl + 'GetEquityItem?docid=' + docid;
                doajax("GET", actionurl, null, function (data) {
                    console.log(data)
                    if (data == "C0003") {
                        $.messager.alert('alert', '無科目類別資料!');
                        itemdg1.datagrid('loadData', '');
                        console.log("C0003: Not Found");
                    } else {
                        itemdg1.datagrid('loadData', data);
                    }
                });
            }
        }
        //#endregion

        //#region 功能函式
        // 自定義doajax
        function doajax(type, url, data, successCallback, errorCallback) {
            $.ajax({
                type: type,
                url: url,
                data: data,
                success: function (response) {
                    if (typeof successCallback === 'function') {
                        successCallback(response);
                    }
                },
                error: function (xhr, status, errorThrown) {
                    if (typeof errorCallback === 'function') {
                        errorCallback(xhr, status, errorThrown);
                    }
                }
            });
        }

        function focusDgSet(datagrid) {
            // 設置選定的數據表格的背景顏色為黃色，其他數據表格的背景顏色為白色
            datagrid.datagrid('getPanel').css({
                'border-color': 'yellow',
                'border-width': '5px',
                'border-style': 'solid'
            });

            $('.easyui-subdg').not(datagrid).each(function () {
                $(this).datagrid('getPanel').css({
                    'border-color': 'white',
                    'border-width': '0px',
                    'border-style': 'solid'
                });

            });
        }

        //#endregion
    </script>

}

