
@{
    ViewBag.Title = "TESTVIEW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Report Viewer</h1>
<div>
    <button id="sendDataButton">Send Data</button>
</div>




@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sendDataButton").click(function () {
                var data = {
                    key1: {
                        subKey1: "value1.1",
                        subKey2: "value1.2"
                    },
                    key2: [
                        {
                            subKey1: "value2.1-1",
                            subKey2: "value2.2-1"
                        },
                        {
                            subKey1: "value2.1-2",
                            subKey2: "value2.2-2"
                        }
                    ]
                };


                $.ajax({
                    url: '/Voucher/MyAction',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}