
@{
    ViewBag.Title = "TESTVIEW";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Report Viewer</h1>
<div>
    <iframe src="~/Report/ReportViewer.aspx" width="100%" height="600px" frameborder="0">
        Your browser does not support iframes.
    </iframe>
</div>




@section Scripts {
   
}