<div id="dlgReject" class="easyui-dialog" data-options="modal:true,closed:true">
    <div id="toolbar5">
        <div class="col-md-6">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="btnClick('dlgrejectsend')">@Resources.Content.Reject</a>
        </div>
        <div class="col-md-6">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="btnClick('dlgrejectexit')">@Resources.Content.Leave</a>
        </div>
    </div>
    <div >
        <input id="rejectmsg" class="easyui-textbox" label="@Resources.Content.MsgReject" labelPosition="top" multiline="true" style="width:100%;height:80%" required="true">
    </div>
</div>
