<div class="header-toolbar">
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('first');" data-options="iconCls:'icon-large-first',size:'large',iconAlign:'top'">首筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('previous');" data-options="iconCls:'icon-large-previous',size:'large',iconAlign:'top'">前筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('next');" data-options="iconCls:'icon-large-next',size:'large',iconAlign:'top'">後筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('last');" data-options="iconCls:'icon-large-last',size:'large',iconAlign:'top'">尾筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('search');" data-options="iconCls:'icon-large-select',size:'large',iconAlign:'top'">查詢</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" id="btnAdd" class="easyui-linkbutton linkbtn2" onclick="btnClick('add');" data-options="iconCls:'icon-large-add',size:'large',iconAlign:'top'">新增</a>
    <a href="#" id="btnEdit" class="easyui-linkbutton linkbtn2" onclick="btnClick('edit');" data-options="iconCls:'icon-large-edit',size:'large',iconAlign:'top'">修改</a>
    <a href="#" id="btnEdit" class="easyui-linkbutton linkbtn2" onclick="btnClick('enable');" data-options="iconCls:'icons8-start',size:'large',iconAlign:'top'">啟用</a>
    <a href="#" id="btnEdit" class="easyui-linkbutton linkbtn2" onclick="btnClick('disable');" data-options="iconCls:'icons8-stop',size:'large',iconAlign:'top'">停用</a>
    <a href="#" class="separatorbar"></a>

    <a href="#" class="separatorbar"></a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('report');" data-options="iconCls:'icon-large-report',size:'large',iconAlign:'top'">報表</a>
</div>
