<div class="header-toolbar">
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('first');" data-options="iconCls:'icon-large-first',size:'large',iconAlign:'top'">首筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('previous');" data-options="iconCls:'icon-large-previous',size:'large',iconAlign:'top'">前筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('next');" data-options="iconCls:'icon-large-next',size:'large',iconAlign:'top'">後筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('last');" data-options="iconCls:'icon-large-last',size:'large',iconAlign:'top'">尾筆</a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('search');" data-options="iconCls:'icon-large-select',size:'large',iconAlign:'top'">查詢</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" id="btnAdd" class="easyui-linkbutton linkbtn2" onclick="btnClick('add');" data-options="iconCls:'icon-large-add',size:'large',iconAlign:'top'">新增</a>
    <a href="#" id="btnEdit" class="easyui-linkbutton linkbtn2" onclick="btnClick('edit');" data-options="iconCls:'icon-large-edit',size:'large',iconAlign:'top'">修改</a>
    <a href="#" id="btnSave" class="easyui-linkbutton linkbtn2" onclick="btnClick('save');" data-options="iconCls:'icon-large-save',size:'large',iconAlign:'top'">存檔</a>
    <a href="#" id="btnDetail" class="easyui-linkbutton linkbtn4 " onclick="btnClick('detail');" data-options="iconCls:'icon-large-detail',size:'large',iconAlign:'top'">詳細資料</a>
    <a href="#" id="btnRefresh" class="easyui-linkbutton linkbtn4 " onclick="btnClick('refresh');" data-options="iconCls:'icon-large-refresh',size:'large',iconAlign:'top'">重新整理</a>
    <a href="#" id="btnCancel" class="easyui-linkbutton linkbtn2" onclick="btnClick('cancel');" data-options="iconCls:'icon-large-cancel',size:'large',iconAlign:'top'">取消</a>
    <a href="#" id="btnDelete" class="easyui-linkbutton linkbtn2" onclick="btnClick('delete');" data-options="iconCls:'icon-large-delete',size:'large',iconAlign:'top'">刪除</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('lock');" data-options="iconCls:'icon-large-lock',size:'large',iconAlign:'top'">覆核</a>
    <a href="#" class="easyui-linkbutton linkbtn4 " onclick="btnClick('unlock');" data-options="iconCls:'icon-large-unlock',size:'large',iconAlign:'top'">取消覆核</a>
    <a href="#" class="separatorbar"></a>
    <a href="#" class="easyui-linkbutton linkbtn2" onclick="btnClick('report');" data-options="iconCls:'icon-large-report',size:'large',iconAlign:'top'">報表</a>
</div>
