<table style="width:100%;">
    <tr>
        <th class="formtext">合計</th>
        <th class="formtext">借方總額</th>
        <td class="formimport">
            <input class="easyui-textbox colCurrencyD" style="width:90%;" readonly />
        </td>
        <td class="formimport">
            <input class="easyui-textbox colMoneyD" style="width:90%;" readonly />@*2_記帳*@
            <input class="easyui-textbox colMoneyD1" type="hidden" />@*1_交易*@
        </td>
        <th class="formtext">貸方總額</th>
        <td class="formimport">
            <input class="easyui-textbox colCurrencyC" style="width:90%;" readonly />
        </td>
        <td class="formimport">
            <input class="easyui-textbox colMoneyC" style="width:90%;" readonly />@*2_記帳*@
            <input class="easyui-textbox colMoneyC1" type="hidden"  />@*1_交易*@
        </td>
        <th class="formtext">差額</th>
        <td class="formimport">
            <input class="easyui-textbox colCurrency" style="width:90%;" readonly />
        </td>
        <td class="formimport">
            <input class="easyui-textbox colMoney" style="width:90%;" readonly /> @*2_記帳*@
            <input class="easyui-textbox colMoney1" type="hidden" />  @*1_交易*@
        </td>
    </tr>
</table>
