
@{
    ViewBag.Title = @Resources.Content.Journal;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <style>
       
    </style>
}
@*日記帳*@
<div id="aa" class="easyui-accordion" style="width:100%;height:100%;">
    <div title="@Resources.Content.QueryConditions-@Resources.Content.Journal" data-options="iconCls:'icon-search'" style="overflow:auto;padding:10px;">
        <div class="row">
            <div class="col-md-3">必要條件：</div>
            <div class="col-md-3"><input class="easyui-datebox colStartDate myDatebox" style="width:90%;" required /></div>
            <div class="col-md-3"><input class="easyui-datebox colEndDate myDatebox" style="width:90%;" required /></div>            
        </div>
        @* 欄位 *@
        <div class="row">
            <div class=" col-md-1">條件</div>
            <div class=" col-md-3">or/and</div>
            <div class=" col-md-2">欄位</div>
            <div class=" col-md-3">篩選</div>
            <div class=" col-md-2">篩選資料</div>
            <div class=" col-md-1"></div>
        </div>
        @* 條件一 *@
        <div class="row">
            <div class=" col-md-1">條件一</div>
            <div class=" col-md-2">
                <select id="colLogicalOperator1" class="easyui-combobox" style="width:200px;">
                    <option value=" and "> and </option>
                    <option value=" or "> or </option>
                </select>
            </div>
            <div class=" col-md-3">
                <select id="colColumnName1" class="easyui-combobox" style="width:200px;">
                    @*<option value="BillDate">傳票日期</option>
                        <option value="BillNo">傳票編號</option>*@
                </select>
            </div>
            <div class=" col-md-2">
                <select id="colComparisonOperator1" class="easyui-combobox" style="width:200px;">
                    <option value=" > "> > </option>
                    <option value=" < "> < </option>
                    <option value=" = "> = </option>
                    <option value=" >= "> >= </option>
                    <option value=" <= "> <= </option>
                    <option value=" != "> != </option>
                    <option value=" like "> like </option>
                </select>
            </div>
            <div class=" col-md-3"><select id="ColumnValue1" class="easyui-textbox" style="width:200px;"></select></div>
            <div class=" col-md-1"><a id="btn" href="#" class="easyui-linkbutton" onclick="btnClick();" data-options="iconCls:'icon-search'">查詢</a></div>
        </div>
        @* 條件二 *@
        <div class="row">
            <div class=" col-md-1">條件二</div>
            <div class=" col-md-2">
                <select id="colLogicalOperator2" class="easyui-combobox" style="width:200px;">
                    <option value=" and "> and </option>
                    <option value=" or "> or </option>
                </select>
            </div>
            <div class=" col-md-3">
                <select id="colColumnName2" class="easyui-combobox" style="width:200px;">
                    @*<option value="BillDate">傳票日期</option>
                        <option value="BillNo">傳票編號</option>*@
                </select>
            </div>
            <div class=" col-md-2">
                <select id="colComparisonOperator2" class="easyui-combobox" style="width:200px;">
                    <option value=" > "> > </option>
                    <option value=" < "> < </option>
                    <option value=" = "> = </option>
                    <option value=" >= "> >= </option>
                    <option value=" <= "> <= </option>
                    <option value=" != "> != </option>
                    <option value=" like "> like </option>
                </select>
            </div>
            <div class=" col-md-3"><select id="ColumnValue2" class="easyui-textbox" style="width:200px;"></select></div>
            <div class=" col-md-1"></div>
        </div>
        @* 條件三 *@
        <div class="row">
            <div class=" col-md-1">條件三</div>
            <div class=" col-md-2">
                <select id="colLogicalOperator3" class="easyui-combobox" style="width:200px;">
                    <option value=" and "> and </option>
                    <option value=" or "> or </option>
                </select>
            </div>
            <div class=" col-md-3">
                <select id="colColumnName3" class="easyui-combobox" style="width:200px;">
                    @*<option value="BillDate">傳票日期</option>
                        <option value="BillNo">傳票編號</option>*@
                </select>
            </div>
            <div class=" col-md-2">
                <select id="colComparisonOperator3" class="easyui-combobox" style="width:200px;">
                    <option value=" > "> > </option>
                    <option value=" < "> < </option>
                    <option value=" = "> = </option>
                    <option value=" >= "> >= </option>
                    <option value=" <= "> <= </option>
                    <option value=" != "> != </option>
                    <option value=" like "> like </option>
                </select>
            </div>
            <div class=" col-md-3"><select id="ColumnValue3" class="easyui-textbox" style="width:200px;"></select></div>
            <div class=" col-md-1"></div>
        </div>
    </div>
    <div title="報表" data-options="iconCls:'icons8-report'" style="overflow:auto;padding:10px;">
        <iframe id="reportIframe" src="" style="width:100%; height:98%;" frameborder="0"></iframe>
    </div>
</div>

@section Scripts {
    <script>
        ///-----基本參數-----///
        //#region 基本參數
        var controllerurl = '/ReportView', functionurl = "/", actionurl = "";
        //#endregion

        //#region 多語系
        var msglang = {
        }
        //#endregion


        //#region 初始化
        $(function () {
            $('.myDatebox').myDatebox({
                culture: '@ViewBag.CurrentCulture' // 傳遞語言參數
            });
        });
        //#endregion

        function btnClick() {
            var sqlSeache = "";
            var startDate = $('.colStartDate').textbox('getValue');
            var endDate = $('.colEndDate').textbox('getValue');

            var condition1 = {
                LogicalOperator: $('#colLogicalOperator1').combobox('getValue'),
                ColumnName: $('#colColumnName1').combobox('getValue'),
                ComparisonOperator: $('#colComparisonOperator1').combobox('getValue'),
                ColumnValue: $('#ColumnValue1').textbox('getValue')
            };

            var condition2 = {
                LogicalOperator: $('#colLogicalOperator2').combobox('getValue'),
                ColumnName: $('#colColumnName2').combobox('getValue'),
                ComparisonOperator: $('#colComparisonOperator2').combobox('getValue'),
                ColumnValue: $('#ColumnValue2').textbox('getValue')
            };

            var condition3 = {
                LogicalOperator: $('#colLogicalOperator3').combobox('getValue'),
                ColumnName: $('#colColumnName3').combobox('getValue'),
                ComparisonOperator: $('#colComparisonOperator3').combobox('getValue'),
                ColumnValue: $('#ColumnValue3').textbox('getValue')
            };

            if (condition1.ColumnName && condition1.ComparisonOperator && condition1.ColumnValue) {
                sqlSeache += ` ${condition1.LogicalOperator} ${condition1.ColumnName} ${condition1.ComparisonOperator} '${condition1.ColumnValue}' `;
            }

            if (condition2.ColumnName && condition2.ComparisonOperator && condition2.ColumnValue) {
                sqlSeache += ` ${condition2.LogicalOperator} ${condition2.ColumnName} ${condition2.ComparisonOperator} '${condition2.ColumnValue}' `;
            }

            if (condition3.ColumnName && condition3.ComparisonOperator && condition3.ColumnValue) {
                sqlSeache += ` ${condition3.LogicalOperator} ${condition3.ColumnName} ${condition3.ComparisonOperator} '${condition3.ColumnValue}' `;
            }

            if (startDate && endDate) {
                 var reportUrl = '@Url.Action("JournalReport", "ReportView")' + '?sqlSeache=' + encodeURIComponent(sqlSeache.trim()) + '&startdate=' + encodeURIComponent(startDate.trim()) + '&enddate=' + encodeURIComponent(endDate.trim());

                $('#aa').accordion('select', 1);

                $('#reportIframe').attr('src', reportUrl);
                
            } else {
                alert("請輸入必填條件！");
            }
        }

    </script>
}